<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-G3VRHWGPB7"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-G3VRHWGPB7');
	</script>

	<title></title>
	<style>
	</style>
</head>
<body>
	<script>
		let cursorMenuPosition = {};
		function el(id) {return document.getElementById(id)};
		function elVal(id) {return el(id).value};
		function all(elName) {return document.querySelectorAll(elName)};
		function insert(before, string, number) {
			if(number < 0) {
				return String(before).slice(0, number + 1) + string + String(before).slice(number + 1);
			} else {
				return String(before).slice(0, number + 1) + string + String(before).slice(-number);
			};
		};
		function createEl(elementName, placeId, info) {
			let create = document.createElement(elementName);
			for(let item in info) {
				if(item !== "class") {
					create[item] = info[item];
				} else {
					create.classList.add(info[item]);
				};
			};
			el(placeId).appendChild(create);
		};
		function creCursorMenu(origId, option = {}) {
			/*引数の入れ方
				origId:元の要素のID
				option:カーソルメニューの属性*/
			let newId = origId + "CursorMenu";
			cursorMenuPosition[origId] = [0, 0];
			//カーソルメニューのCSSを指定
			document.getElementsByTagName("style")[0].style += `#${origId}>* {\n\tdisplay: flex;\n\tpointer-events: none;\n}`;
			el(origId).style.position = "relative";
			createEl("div", "body", Object.assign({id: newId, }, option));
			el(newId).style.display = "none";
			el(newId).style.position = "absolute";
			el(newId).style.pointerEvents = "none";
			el(origId).addEventListener("mousemove", (event) => {
				if(cursorMenuPosition[origId][0] < el(newId).clientWidth) {cursorMenuPosition[origId][0] = el(newId).clientWidth;};
				if(cursorMenuPosition[origId][1] < el(newId).clientHeight) {cursorMenuPosition[origId][1] = el(newId).clientHeight};
				el(newId).style.display = "flex";
				if(event.pageX <= window.innerWidth - cursorMenuPosition[origId][0]) {//もしカーソルのX座標が(ウィンドウの横幅-要素の横幅)以下なら
					el(newId).style.left = event.pageX + "px";
				} else {
					el(newId).style.left = (window.innerWidth - el(newId).clientWidth/*別にclientである意味はない*/) + "px";
				};
				if(event.pageY <= window.innerHeight - cursorMenuPosition[origId][1]) {//上と同じようなこと
					el(newId).style.top = event.pageY + "px";
				} else {
					el(newId).style.top = (window.innerHeight - el(newId).clientHeight/*こっちも同じ*/) + "px";
				}
			});
			el(origId).addEventListener("mouseleave", () => {
				el(newId).style.display = "none";
			});
		};
	</script>
</body>

</html>
